.contact {
  width: 1111px;
  height: 480px;
  left: 165px;
  top: 155px;
  background: #e7816b;
  border-radius: 15px;
  margin-top: 140px;
  margin-left: 120px;
}
.contact__wrapper {
  padding-top: 295px;
  padding-left: 95px;
}
