.footer__top {
  position: relative;
  top: 100px;
}
.footer__bg {
  position: absolute;
  top: -480px;
  left: -10px;
}
.footer__top--card {
  margin-top: 72px;
  margin-left: 95px;
}
.footer__top--title {
  width: 268px;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
}
.footer__top--info {
  width: 459px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  padding-top: 20px;
}

.footer__top--wrapper {
  display: flex;
}
.footer__bg {
  width: 1111px;
  height: 292px;
  background: #e7816b;
  border-radius: 15px;
  margin-left: 130px;
  margin-top: 160px;
}
.footer__top--link {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333136;
  margin-left: 327px;
  margin-top: 150px;
  background: #ffffff;
  border-radius: 8px;
  width: 152px;
  height: 56px;
  padding: 18px;
}

@media screen and (max-width: 768px) {
  .footer__top {
    width: 690px;
    margin-left: 50px;
    height: 350px;
  }
  .footer__top--wrapper {
    margin-top: -70px;
  }
  .footer__top--card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: -100px;
    padding-top: 50px;
  }
  .footer__top--title {
    width: 335px;
    text-align: center;
  }
  .footer__top--info {
    width: 450px;
    text-align: center;
    margin-left: 10px;
    padding-bottom: 100px;
  }
  .footer__top--link {
    margin-left: -300px;
    margin-top: 300px;
  }
}

@media screen and (max-width: 375px) {
  .footer__top {
    width: 327px;
    height: 379px;
  }
  .footer__top--wrapper {
    margin-left: -80px;
  }
  .footer__top--title {
    font-size: 32px;
    width: 279px;
  }
  .footer__top--info {
    width: 279px;
    font-size: 15px;
  }
  .footer__top--link {
    margin-left: -210px;
    margin-top: 340px;
  }
}
