.passionate__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 5px;
  color: #333136;
  width: 350px;
}
.passionate__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333136;
  width: 350px;
}
.wrapper__child {
  width: 350px;
  margin-left: 30px;
  margin-top: 160px;
}
.passionate__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.passionate__title {
  padding-top: 48px;
  padding-bottom: 32px;
}
.img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ali {
  padding-top: 80px;
}
.passionate__wrapper {
  position: relative;
}
.passionate__oval {
  width: 202px;
  height: 202px;
  background: linear-gradient(
    90deg,
    rgba(93, 2, 2, 0.0001) 0%,
    rgba(93, 2, 2, 0.497569) 100%
  );
  mix-blend-mode: normal;
  opacity: 0.2;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  border-radius: 50%;
}

.passionate__oval--first {
  left: 60px;
  top: 140px;
}
.passionate__oval--second {
  left: 440px;
  top: 140px;
}
.passionate__oval--third {
  left: 800px;
  top: 140px;
}

@media screen and (max-width: 768px) {
  .passionate__wrapper {
    flex-direction: column;
  }
  .wrapper__child {
    display: flex;
  }
  .img__wrapper {
    margin-left: -170px;
  }
  .passionate__div {
    margin-left: 50px;
  }
  .passionate__title,
  .passionate__info {
    text-align: start;
  }
  .passionate__oval--second {
    top: 520px;
    left: 30px;
  }
  .passionate__oval--third {
    top: 920px;
    left: 25px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper__child {
    display: block;
  }
  .passionate__title,
  .passionate__info {
    text-align: center;
  }
  .wrapper__child {
    margin-left: -100px;
    margin-bottom: 30px;
  }
  .img__wrapper {
    margin-left: 30px;
  }
  .passionate__oval--second {
    top: 700px;
    left: 70px;
  }
  .passionate__oval--third {
    top: 1230px;
    left: 50px;
  }
}
