.footer {
  background: #1d1c1e;
  width: 1440px;
  margin: 0 auto;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 142px;
  width: 1111px;
  margin-left: -30px;
}
.footer__list {
  display: flex;
}
.footer__item {
  margin-left: 42px;
}
.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #ffffff;
}
.footer__border {
  width: 1111px;
  height: 1px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.1;
  margin-top: 40px;
}
.footer__designo {
  width: 350px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 31px;
  margin-bottom: 72px;
}
.footer__contact {
  width: 350px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 31px;
}
.footer__office-wrapper {
  display: flex;
}
.footer__icons-wrapper {
  margin-left: 197px;
  margin-top: 60px;
}